<html>
	<head>
		<link rel="stylesheet" type="text/css" href="../css/monStyle.css">
		<title>SuperGame</title>
	</head>
	<body>

		<div id="vieJ1">	
			<p>Joueur 1</p>
			<progress id="healthJ1" value="100" max="100"></progress>
		</div>
		<div id="vieJ2">	
			<p>Joueur 2</p>
			<p>
			<progress id="healthJ2" value="100" max="100"></progress></p>
		</div>
	<canvas id="fond"></canvas>
	<canvas id="coinAnimation">	</canvas>
	<canvas id="perso2"></canvas>
	<canvas id="boite"></canvas>
	
        <script src="../js/monJs.js"></script>
	</body>
</html>